#tabswrap {
	position: relative;
	background: url(../images/tabswrap-center.gif) repeat-y;
	overflow: hidden;
	z-index: 10;
}

#tabswrap-top {
	background: url(../images/tabswrap-top.gif) no-repeat top left;
}

#tabswrap-bot {
	background: url(../images/tabswrap-bot.gif) no-repeat bottom left;	
	position: relative;
	overflow: hidden;
	z-index: 10;
}

#tabswrap div.innerpad {
	padding: 20px 0;
}

ul.mootabs-title {
	margin: 0;
	padding: 0;
}

.mootabs-title li {
	float: left;
	background: none;
	padding: 0;
	margin: 0;
	cursor: pointer;
	display: block;
	color: #CCCCCC;
}

.mootabs-title li h3 {
	font-size: 110%;
	line-height: 40px;
	margin: 0;
	padding: 5px 0 0;
	text-align: center;
	background: url(../images/tabs-bg.gif) no-repeat bottom left;
	font-family: "Lucida Grande", "Trebuchet MS", Arial, Helvetica, sans-serif;
	font-weight: bold;
}

.mootabs-title li.hover {
	color: #FFFFFF;
	background: url(../images/tabs-hover.gif) no-repeat bottom center;
}

.mootabs-title li.firstactive h3,
.mootabs-title li.first h3 {
	background: none;
}

.mootabs-title li.active {
	padding: 0;
	margin: 0;
	background: url(../images/tabs-active.gif) no-repeat bottom center;
	color: #FFFFFF;
}

.mootabs-title li.firsthover h3 {
	background: none;
	color: #FFFFFF;
}

.mootabs-title li.lasthover h3 {
	color: #FFFFFF;
}

.mootabs-title li.firsthover {
	background: url(../images/tabs-hover.gif) no-repeat bottom left;
}

.mootabs-title li.lasthover {
	background: url(../images/tabs-hover.gif) no-repeat bottom right;
}

.mootabs-title li.firstactive {
	padding: 0;
	margin: 0;
	background: url(../images/tabs-active.gif) no-repeat bottom left;
	color: #FFFFFF;
}

.mootabs-title li.lastactive {
	padding: 0;
	margin: 0;
	background: url(../images/tabs-active.gif) no-repeat bottom right;
	color: #FFFFFF;
}

.tab-panels {
	position: absolute;
	clear: both;
	overflow: hidden;
	top: 40px;
}

#tabswrap .moduletable {
	position: absolute;
	top: 0;
	background: none;
	z-index: 100;
}

#tabswrap .moduletable ul {
	margin: 0 !important;
	padding: 0 !important;
}

#tabswrap .moduletable li {
	padding-left: 15px;
	margin: 0;
	background: url(../images/arrow.png) no-repeat 3px 7px;
}