/**
* Style for WP-PageNavi plugin
* http://wordpress.org/extend/plugins/wp-pagenavi/
*/
    .wp-pagenavi {
        float: left;
    }
    
    .wp-pagenavi a, .wp-pagenavi span {
    	text-decoration: none;
    	padding: 5px 8px;
    	margin: 2px;
        font-size: 15px;
        line-height: 15px;
        float: left;
    }

    .wp-pagenavi a, .wp-pagenavi a:link, .wp-pagenavi a:active {
        color: #232323;
        background:none;
    }
    
    .wp-pagenavi span.current {
        font-weight: bold;
        color: #fff;
        background:#2F2E2E;
    }
    
    .wp-pagenavi a:hover {
        color: #fff;
        background:#E6C12F;
    }
    
    .wp-pagenavi span.pages {
        color: #232323;
        background: none;
        padding: 4px 8px 4px 0;
    }
    
    .wp-pagenavi span.extend {
        background:transparent;
        color: #232323;
        background: none;
    }