
a, a:hover, a:active, a:focus {
	color: #e1c400;
}
a:hover {
	color: #ffffff;
}

.button {
	background: url(images/amber/grad1.gif) repeat-x center #e1c400;
}

.dropcap {
	color: #e1c400;
}

.highlight {
	background: #e1c400;
}

a.contentpagetitle:hover,
a.contentpagetitle:active,
a.contentpagetitle:focus {
	color: #e1c400;
}



#active_menu {
	color: #e1c400;
}

#topsl a:hover,
#topsl a:active,
#topsl a:focus,
#botsl a:hover,
#botsl a:active,
#botsl a:focus {
	color: #e1c400;
}

#footer a:hover, #footer a:active, #footer a:focus {
	color: #e1c400;
}
