a, a:active, a:focus {
	color: #73AD33;
}
a:hover {
	color: #ffffff;
}

.button {
	background: url(images/green/grad1.gif) repeat-x center #73AD33;
}

.dropcap {
	color: #73AD33;
}

.highlight {
	background: #73AD33;
}

a.contentpagetitle:hover,
a.contentpagetitle:active,
a.contentpagetitle:focus {
	color: #73AD33;
}

#active_menu {
	color: #73AD33;
}


#topsl a:hover,
#topsl a:active,
#topsl a:focus,
#botsl a:hover,
#botsl a:active,
#botsl a:focus {
	color: #73AD33;
}
