
a, a:active, a:focus {
	color: #920000;
}
a:hover {
	color: #ffffff;
}

.button {
	background: url(images/red/grad1.gif) repeat-x center #920000;
}

.dropcap {
	color: #920000;
}

.highlight {
	background: #920000;
}

a.contentpagetitle:hover,
a.contentpagetitle:active,
a.contentpagetitle:focus {
	color: #920000;
}

#active_menu {
	color: #920000;
}

#topsl a:hover,
#topsl a:active,
#topsl a:focus,
#botsl a:hover,
#botsl a:active,
#botsl a:focus {
	color: #920000;
}
