
a, a:active, a:focus {
	color: #0035ac;
}

.button {
	background: url(images/pink/grad1.gif) repeat-x center #0035ac;
}

.dropcap {
	color: #0035ac;
}

.highlight {
	background: #0035ac;
}

a.contentpagetitle:hover,
a.contentpagetitle:active,
a.contentpagetitle:focus {
	color: #0035ac;
}

#active_menu {
	color: #0035ac;
}

#topsl a:hover,
#topsl a:active,
#topsl a:focus,
#botsl a:hover,
#botsl a:active,
#botsl a:focus {
	color: #0035ac;
}

